h4 {
    margin-bottom: 15px;
}
.form-bg {
    background: #F0F5F8;
}
.form_row {

    label {
        display: inline;
        float: left;
        width: 100px;
    }

    input[type="text"], textArea, select {
        width: 300px;
    }

    /*select {*/
        /*width: 100px;*/
    /*}*/

    .contact_method {
        margin-left: 100px;
    }

    .address {
        width:90px !important;
    }
    .address-container {
        margin: 0 0 0 100px !important;
    }
}

.blank_slate {
    color: #999999;
    cursor: pointer;
    font-size: 12px;
    margin: 4px 0 5px;
    padding: 1px;
}

