body {
  background: #f3f1ec;
  font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, arial, verdana, sans-serif;
  text-align: left;
}
#header .navbar-inner {
  border-radius: 0;
}
#left-nav {
  margin-right: 10px;
}
#left-nav .well {
  padding: 19px 0;
  background: #f3f1ec;
  border: 0px solid #f3f1ec;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) inset;
}
#left-nav.span3 {
  width: 210px;
}
#main-content {
  margin-left: -10px;
}
